<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Clint Ecker</string>
	<key>CFBundleDisplayName</key>
	<string>Ars Technica Headlines</string>
	<key>CFBundleIdentifier</key>
	<string>com.clintecker.safari.arstechnica</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>Chrome</key>
	<dict>
		<key>Bars</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>toolbar.html</string>
				<key>Identifier</key>
				<string>ars-toolbar</string>
				<key>Label</key>
				<string>Ars Technica Headlines</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Shows you the top Ars Technica headlines in your browser</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.arstechnica.com</string>
			</array>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://clintecker.com/safari/extensions/arstechnica/update.plist</string>
	<key>Website</key>
	<string>http://arstechnica.com</string>
</dict>
</plist>
